body {
    margin: 0 auto;
}

li > a {
    font-family:  sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.flexcontainer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #292626;
}

.logo {
    background-color: #292626;
    height:80px;
}

.nav_menu {
    list-style: none;
    margin:0;
    padding:0
}

.nav_menu li {
    display:inline-block;
    padding: 36px 20px

}

.nav_menu li a {
    transition: all 0.3s ease 0s;
}

.nav_menu li:hover {
    background-color: #43bb41;
}

.carousel-inner {
    height: 0;
    padding-bottom: 35%; /* this sets carousel aspect ratio (4:1 here) */
  }
  
  .carousel-item {
    position: absolute !important; /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .carousel-item img {
    height: 100%; /* Bootstrap handles width already */
    object-fit: cover; /* or 'contain' if you want stretch instead of crop */
  }

