body {
    background-color: rgb(204, 201, 201);
    
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }

h2.pb-2.border-bottom {
    border: 0;
}


.nav-item > .nav-link {
    color: white !important;
}
.navbar-nav .nav-link:hover {
    background-color: #198754 !important;
}
